{% extends "layout.html" %}

{% block title %}
    Get Started
{% endblock %}

{% block main %}

    <div class="row align-items-center justify-content-md-center">
        <div class="col col-lg-3">
            <h1 id="front-h1">Explore Football Players with AutoScout</h1>
            <h2 id="front-h2">AutoScout is a <strong>player database</strong> for footballers that allows users to search and browse through professional player profiles.</h2><h3 id="front-h3">Find stats, careers, and transfer history with AutoScout. Saving you <strong>money and time</strong> finding the right players for you.</h3>
            <a class="nav-link" id="start-link" href="/register">Get Started</a>
        </div> 
        <div class="col col-auto" id="player-img"><img src="./static/players.png"></div> 
    </div>



{% endblock %}